.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__calculator {
  background-color: var(--bg-calc);
  padding: 1.25rem;
  border-radius: 0.625rem;
}

.wrapper__form {
  display: flex;
  justify-content: flex-end;
  margin: 1.25rem 0;
}
